@charset "utf-8";

/* Table of Content
==================================================
	1.0  -  Custom Class
	2.0  -  Browser Fix
	3.0  -  DT Responsive
	4.0  -  Skin Colors*/

	/*--------------------------------------------------------------
	1.0 - Custom Class
	--------------------------------------------------------------*/
	
	.title_uppercase { text-transform:uppercase; }
	.title_bold { font-weight:bold; }
	
	/* http://prntscr.com/dydrzx = Reseller Hosting page */
	.extend-bg-fullwidth-left:after { content:""; position:absolute; top:0px; right:100%; height:100%; width: 100%; display:inline !important; }
	.extend-bg-fullwidth-right:after { content:""; position:absolute; top:0px; left:100%; height:100%; width: 100%; display:inline !important; }
	
	.extend-bg-fullwidth-left:after, .extend-bg-fullwidth-right:after { background:#f5f5f5; }
	
	.spacing-letter { letter-spacing:4px; }
	.image-visible { position:relative; z-index:9; }

	/*----*****---- << Vc Column custom class >> --****--*/
	.rs_no-padding_column.wpb_column, .vc_col-md-12.wpb_column.rs_no-padding_column { margin-top: -1px; padding-bottom: 0; margin-bottom:0; } /* http://prntscr.com/dydqdv */
	.vc_row.boxed-wrapper-content { margin-left: -250px; margin-right: -250px; display: block; left: auto !important; width: auto !important; }
	
	.light-overlay:before { background:rgba(255, 255, 255, 0.8); } /* http://prntscr.com/dydsrd  = Model Home page contact section */
	.dark-overlay:before { background:rgba(0, 0, 0, 0.8);  }
	


	/*----*****---- << Gray Scale >> --****--*/ /* http://prntscr.com/dydr06 = Hotel Our Firm Page */
	.gray-scale:hover, .gray-scale:hover img { -webkit-filter: grayscale(1); -moz-filter: grayscale(1); -ms-filter: grayscale(1); -o-filter: grayscale(1); filter: grayscale(1); -webkit-transition-property: -webkit-filter; -moz-transition-property: -moz-filter; -ms-transition-property: -ms-filter; -o-transition-property: -o-filter; transition-property: filter; -webkit-transition-duration: 1s; -moz-transition-duration: 1s; -ms-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; }
	


	/*----*****---- << Text with icon >> --****--*/ /* http://prntscr.com/dydrax = Fitness Home Page */
	.dt-sc-text-with-icon { width:100%; clear:both; float:left; font-weight:bold; padding:12px 0px 12px 20px; }
	.dt-sc-text-with-icon span { font-size:18px; margin:0px 7px 0px 0px; position:relative; top:2px; font-weight:bold; }
	
	.dt-sc-text-with-icon.border-bottom { border-bottom:1px solid; }
	.dt-sc-text-with-icon.border-right { border-right:1px solid; }

	.dt-sc-dark-bg .dt-sc-text-with-icon span { color:#ffffff; }
	
		
	
	/*----*****---- << Hosting Domain Page Table >> --****--*/ /* http://prntscr.com/dydxr3 = Hosting Domain Page */
	.hosting-table { border-top:0px; font-family:'Raleway',sans-serif; }
	.hosting-table th { background:#e1e1e1; border-radius:5px 5px 0px 0px; color:#000000; font-weight:600; font-size:16px; border-right:1px solid #ffffff; padding:20px 15px; }
	.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { background:rgba(0, 0, 0, 0.95); border-right:1px solid rgba(255, 255, 255, 0.2); border-bottom:0px; font-size:16px; font-weight:600; padding:25px 15px; }
	.hosting-table tbody tr td:last-child, .hosting-table tr th:last-child { border:none; }
	
	.hosting-table tbody tr:nth-child(2) td { background:rgba(0, 0, 0, 0.9); }
	.hosting-table tbody tr:nth-child(3) td { background:rgba(0, 0, 0, 0.85); }
	.hosting-table tbody tr:nth-child(4) td { background:rgba(0, 0, 0, 0.8); }
	.hosting-table tbody tr:nth-child(5) td { background:rgba(0, 0, 0, 0.75); }
	.hosting-table tbody tr:nth-child(6) td { background:rgba(0, 0, 0, 0.7); }
	.hosting-table tbody tr:nth-child(7) td { background:rgba(0, 0, 0, 0.65); }
	.hosting-table tbody tr:nth-child(8) td { background:rgba(0, 0, 0, 0.6); }
	.hosting-table tbody tr:nth-child(9) td { background:rgba(0, 0, 0, 0.55); }
	.hosting-table tbody tr:nth-child(10) td { background:rgba(0, 0, 0, 0.5); }
	.hosting-table tbody tr:nth-child(11) td { background:rgba(0, 0, 0, 0.45); }
	.hosting-table tbody tr:nth-child(12) td { background:rgba(0, 0, 0, 0.4); }
	
	.hosting-table tbody tr td:first-child { position:relative; }
	.hosting-table tbody tr td:first-child:before { content:""; position:absolute; left:0px; top:0px; width:100%; height:100%; background:#60ae0d; z-index:-1; }
	
	.hosting-table tbody tr td.new, .hosting-table tbody tr td.hot { position:relative; overflow:hidden; }
	.hosting-table tbody tr td.new:before, .hosting-table tbody tr td.hot:before { content:"New"; position:absolute; left:-20px; top:5px; padding:2px 22px; background:#60ae0d; color:#ffffff; font-size:12px; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg);  transform:rotate(-45deg); }
	.hosting-table tbody tr td.hot:before { content:"Hot"; background:#e80505; padding:2px 24px; }
	


	/*----*****---- << Spa rounded corner image >> --****--*/ /* http://prntscr.com/dydylt = Spa */
	.dt-sc-partially-rounded-alt { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	
	.vc_min_height_right.wpb_column.vc_col-sm-6 { margin-left: 30px; width: calc(50% - 30px); } /* http://prntscr.com/e0ka7y *
	

	/*----*****---- << Image Caption With Counter >> --****--*/	 /* http://prntscr.com/dydzek = Image caption counter */
	.dt-sc-image-caption-with-counter { counter-reset:image-caption-counter; }
	.dt-sc-image-caption-with-counter h3 { counter-increment:image-caption-counter; }
	.dt-sc-image-caption-with-counter h3:before { content:counter(image-caption-counter, decimal-leading-zero); font-size:36px; font-weight:600; border-bottom:2px solid; float:left; margin:-10px 20px 0px 0px; padding:0px; }
	.dt-sc-image-caption-with-counter h3:before { font-family:'Open Sans', sans-serif; }
	
	
	.dt-sc-contact-details-on-map .dt-sc-map-overlay h3, .dt-sc-contact-details-on-map .map-switch-icon, .dt-sc-contact-details-on-map .map-switch-icon:hover { color:#ffffff; }	
	.dt-sc-contact-details-on-map .map-switch-icon:hover { background:#000000; } /* http://prntscr.com/dydzs2 = Restaurant */
	
	
	/*----*****---- << Photography Readmore Plus >> ----*****----*/ /* http://prntscr.com/dydzxp = Photography */
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; } 
	
	
	.dt-sc-readmore-plus-icon { position:absolute; right:0px; bottom:0px; width:60px; height:60px; text-indent:-9999px; }
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { content:""; position:absolute; left:0px; right:0px; top:0px; bottom:0px; margin:auto; }
	.dt-sc-readmore-plus-icon:before { height:1px; width:30px; }
	.dt-sc-readmore-plus-icon:after { height:30px; width:1px; }	
	
	
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { background:#ffffff; }	
	.dt-sc-readmore-plus-icon { background:#000000; }	
	.dt-sc-readmore-plus-icon:hover { background:rgba(0, 0, 0, 0.8); }
	
	
	
	/*----*****---- << Nightclub Home page Social icons >> ----*****----*/
	.diamond-narrow-square-border li:before { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	
	.diamond-narrow-square-border li a { color:#000000; }	
	.diamond-narrow-square-border li a:hover { color:#ffffff; }
	
	
	/*--------------------------------------------------------------
	2.0 - Browser Fix
	--------------------------------------------------------------*/
	/* IE9 and above override */	
	@media screen and (min-width:0\0) { 
			
		.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 71px 0 0; }
		
	}
	
	/* IE9 only override */	
	.ie9 .dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 72px 0 0; }
	
	
	.vc_row.slanting-background:after { position: absolute; content: ""; display: block; width: 200%; height: 100%; left: 0; bottom: 0; z-index: -1; background: #515151; -webkit-transform: skew(0deg, -6deg); -moz-transform: skew(0deg, -6deg);  -ms-transform: skew(0deg, -6deg); -o-transform: skew(0deg, -6deg); transform: skew(0deg, -6deg); }
 